@using System.Web.Optimization
@using Kufar3.Models
@{
    var directoryType = (DirectoryTypes) ViewBag.Directory;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/scroll.css" rel="stylesheet" />
    <link href="~/Content/SiteDeclaration.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/MyScripts/Pagination.js"></script>
    <script src="~/MyScripts/UploadImages.js"></script>
    <script src="~/MyScripts/Spinner.js"></script>
</head>

<body>
@Html.Partial("~/Views/Home/LayoutHeader.cshtml")
<div class="container">

    @if (directoryType != DirectoryTypes.Declaration)
    {
        <div class="menu">
            @Html.Action("MenuLeft", "Home")
        </div>
    }
    @RenderBody()
       
</div>

 
</body>
</html>