@model IEnumerable<Kufar3.Models.SubCategory>

<select id="SubCategoryId" name="SubCategoryId">
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.Name</option>
    }
</select>