@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = ViewBag.Title;
}

<div class="content-holder">
    <p class="nameD"><b>@title</b></p>
</div>

@Html.Partial("~/Views/Declaration/DeclarationShow.cshtml")
