@using Kufar3.Models
@model List<Category>

@{
    var idCategory = (int?) ViewBag.IdCategory;
    var idSubCategory = (int?) ViewBag.IdSubCategory;
}
<div class="side">
<ul class="main-menu">
    @foreach (var category in Model)
    {
        <li class="categories">
                <a href="@Url.Action("Index", "Home", new {idCategory = category.Id}, null)">
                        @category.Name
                </a>
            <ul class="sub-menu">
                @foreach (var sub in category.SubCategories)
                {
                    <li class="sub-categories">
                        @Html.ActionLink(@sub.Name, "Index", "Home", new {idSubCategory = sub.Id}, null)
                    </li>
                }
            </ul>
        </li>
    }
</ul>
</div>