<div class="search">
    <div class="search-img"></div>
    <input/>
</div>

<div class="modal modal_open">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="search-block">
                <div class="modal-search">
                    <div class="search-img"></div>
                    <input />
                </div>
                <div class="search-x"></div>
                <div class="search-radio">
                    По дате:
                    <input type="radio" name="search" checked="checked" value="data"/>
                    По цене:
                    <input type="radio" name="search" value="price"/>
                </div>
            </div>
            <div class="search-values">
                <ul>
                </ul>
            </div>
        </div>
    </div>
</div>


<script>
    $(function()
    {
        var searchInputBig = $(".modal-search input");
        var searchInput = $(".search input");
        var windowWithDeclaration = $('.search-values');
        var pageSearch;
        var countSearchItems;
        var searchPageSize;
        var delayTimer;

        $('.search-x').click(function()
        {
            searchInput.val("");
            hideSearch();
        });

        searchInput.on('input',
            function()
            {
                showSearch();
                searchInputBig.focus();
                searchInputBig.val(searchInput.val());
                replaceSearchItem(searchInput.val());
            });

        searchInputBig.on('input',
            function () {
                replaceSearchItem(searchInputBig.val());
            });

        $('.search-values').scroll(function()
        {
            //console.log(windowWithDeclaration.scrollTop());
            //console.log(windowWithDeclaration.innerHeight());
            //console.log(windowWithDeclaration[0].scrollHeight);
            if (windowWithDeclaration.scrollTop() + windowWithDeclaration.innerHeight() >= windowWithDeclaration[0].scrollHeight)
            {
                var pageCount = Math.ceil(countSearchItems / searchPageSize);

                if (pageCount > pageSearch)
                {
                    pageSearch++;
                    addSearchItem(searchInputBig.val(), pageSearch);
                }
            }
        });

        function hideSearch()
        {
            $('body').removeClass('search-visible');
        }

        function showSearch()
        {
            $('body').addClass('search-visible');
        }

        //function replaceSearchItem(searchWord)
        //{
        //    $('.search-values ul li').remove();
        //    sendWord(searchWord, 1);
        //}
        
        function replaceSearchItem(searchWord) {
            clearTimeout(delayTimer);
            delayTimer = setTimeout(function() {
                $('.search-values ul li').remove();
                sendWord(searchWord, 1);
            }, 500);
        }

        function addSearchItem(searchWord, pageSearch)
        {
            sendWord(searchWord, pageSearch);
        }

        function sendWord(searchWord, pageSearchLocal)
        {
            $.ajax({
                url: '/Home/SearchValue',
                type: 'POST',
                data: { searchWord: searchWord, pageSearch: pageSearchLocal},
                success: function (data)
                {
                    $('.search-values ul').append(data.Data);;
                    pageSearch = data.PageSearch;
                    countSearchItems = data.CountSearchItems;
                    searchPageSize = data.SearchPageSize;
                },
                error: function (xhr, error, status) {
                    console.log(error, status);
                }
            });
        }

        $('input[type=radio][name=search]').on('change', function() {
            switch($(this).val()) {
            case 'data':
                alert("data");
                break;
            case 'price':
                alert("price");
                break;
            }
        });
    });

   


</script>