<div class="search">
    <div class="search-img"></div>
    <input/>
</div>

<div class="modal modal_open">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-search">
                <div class="search-img"></div>
                <input/>
            </div>
            <div class="search-x"></div>

            <div class="search-values">
                <ul>

                </ul>
            </div>
        </div>
    </div>
</div>


@*<div class="search-menu">
    <div class="search-x"></div>
    <div id="search-values">
        <ul id="test">

        </ul>
    </div>
    
</div>*@


<script>
    $(function()
    {
        var searchInputBig = $(".modal-search input");
        var searchInput = $(".search input");
        var windowWithDeclaration = $('.search-values');

        $('.search-x').click(function()
        {
            searchInput.val("");
            hideSearch();
        });

        searchInput.on('input',
            function()
            {
                showSearch();
                searchInputBig.focus();
                searchInputBig.val(searchInput.val());
                sendWord(searchInput.val());
            });

        searchInputBig.on('input',
            function () {
                sendWord(searchInputBig.val());
            });

        function hideSearch()
        {
            $('body').removeClass('search-visible');
        }

        function showSearch()
        {
            $('body').addClass('search-visible');
        }

        function sendWord(searchWord)
        {
            $('.search-values ul').load("/Home/SearchValue", { searchWord: searchWord });
            
        }

        $('.search-values').scroll(function() {
            if (windowWithDeclaration.scrollTop() + windowWithDeclaration.innerHeight() === windowWithDeclaration[0].scrollHeight) {
                var page = Number($('.pageSearch').last().val());
                var pageSize = Number($('#searchPageSize').val());
                var itemCount = Number($('#countSearchItems').val());
                var pageCount = Math.ceil(itemCount / pageSize);
                console.log($('.pageSearch').last().val());

                if (pageCount > page)
                {
                    page++;

                    //alert("bottom!");
                    $.ajax({
                        url: '/Home/SearchValue',
                        type: 'POST',
                        data: { searchWord: searchInputBig.val(), pageSearch: page},
                        success: function (data)
                        {
                            var html = data.Html;
                            var SearchPageSize = data.SearchPageSize;

                            $('.search-values ul').append(data);;
                        },
                        error: function (xhr, error, status) {
                            console.log(error, status);
                        }
                    });
                }
            }
        });
    });


    //$('#search-declaration').click(function()
    //{
    //    $(".search input").val("");
    //    hideSearch();
    //});

    //$('#search-values').load("/Home/SearchValue", { searchWord: $('.search input').val(), sizePageSearch: count});

    //var delayTimer;
    //function doSearch(searchWord) {
    //    clearTimeout(delayTimer);
    //    delayTimer = setTimeout(function() {
    //        $('#search-values').load("/Home/SearchValue", { searchWord: searchWord });
    //    }, 1000);
    //}


</script>