@using Kufar3.Models
@model Declaration

@{
    ViewBag.Title = "DeclarationModeration";
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";
}

@Html.Partial("~/Views/Declaration/DeclarationView.cshtml")

<div>
    <b>@Html.ActionLink("Одобрить", "DeclarationSend", "Moderator", new { declarationId = Model.Id, declarationType = DeclarationTypes.Active }, new { @class = "moderator-click" })</b>
    <b>@Html.ActionLink("Отклонить", "DeclarationSend", "Moderator", new { declarationId = Model.Id, declarationType = DeclarationTypes.Rejected }, new { @class = "moderator-click" })</b>
</div><br />