@using Kufar3.Models

@{
    ViewBag.Title = "DeclarationList";
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";
}

@{
    var declarations = (List<Declaration>) ViewBag.Declarations;
}

<div class="content-holder">
    <p class="nameD"><b>Объявления</b></p>
</div>

@Html.Partial("~/Views/Declaration/DeclarationShow.cshtml")