@using Kufar3.Models

@{
    ViewBag.Title = "DeclarationList";
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";
}

@{
    var count = (int) ViewBag.Count;
}

<div class="content-holder">
    <p class="nameD"><b>Объявления ожидающие модерацию (@count)</b></p>
</div>

@Html.Partial("~/Views/Declaration/DeclarationShow.cshtml")