

body {
    margin: 0px;
    padding: 0px;
    font-family: "Century Gothic", Arial, sans-serif;
}

.container {
    float: left;
    border: 1px solid red;
    margin: 10px;
    text-align: -webkit-center;
    width: 480px;
}


#wrapper {
    border: 1px solid red;
    height: 700px;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
}

#header {
    border: 1px solid green;
    height: 40px;
    width: 700px;
    background: #65b509;
}

#menu {
    border: 1px solid black;
    height: auto;
    width: 200px;
    margin: 20px;
    background: rgb(111, 245, 111);
    float: left;
}

    #menu li {
        /* border: 1px solid black;*/
        margin-right: 40px;
        margin-bottom: 10px;
        list-style-type: none;
    }

    #menu a {
        text-decoration: none; /*убираем подчеркивание текста ссылок*/
    }

#topBlok {
    border: 1px solid black;
    height: auto;
    width: auto;
    margin: 10px;
    float: right;
}

/***************************************************************************************/

.declarations {
    float: left;
    height: 163px;
    border: 1px solid rgb(0, 0, 0);
    margin: 3px;
    margin-right: 50px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-top: -20px;
}

#text {
    text-align: justify;
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    padding: 5px; /* Поля вокруг текста */
    text-overflow: ellipsis; /* Добавляем многоточие */
}

#namrD {
    text-align: justify;
    float: right;
}

#img img {
    border: 1px solid black;
    width: 180px;
    height: 150px;
    float: left;
    margin: 5px;
}
/******************************************************************/
.foto {
    width: 500px;
    height: 350px;
    border: 1px solid black;
    /*margin-left: auto;*/
    margin: auto;
    margin-bottom: 40px;
}
.foto img {
    width: auto;
    height: 350px;
    border: 1px solid black;
    margin-left: auto;
    margin-top: auto;
    max-width: 500px;
}

.all-elements {
    width: auto;
    height: auto;
    /*border: 4px solid black;*/
    min-width: 520px;
}

#left-button {
    margin-top: 160px;
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    background: rgb(218, 225, 232)
}

#right-button {
    margin-top: 160px;
    position: absolute;
    margin-left: 477px;
    border-radius: 50%;
    cursor: pointer;
    background: rgb(218, 225, 232)
}

.img-light {
    border: 2px solid rgb(0, 255, 31);
}

.kuf {
    color: azure;
    text-decoration: none;
}