html { overflow-y: scroll; }

body {
    /*border: 1px solid #00ac64;*/
    height: 100%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    min-width: 840px;
}

.header {
    padding-left: 2%;
    padding-right: 2%;
    height: auto;
    /*border: 1px solid rgb(182, 255, 122);*/
    background: #00ac64;
    color: azure;
    min-width: 800px;
    float: left;
    width: 96%;
}

.region {
    padding-top: 10px;
    padding-left: 2%;
    padding-right: 2%;
    height: 30px;
    background: rgb(172, 187, 164);
    color: azure;
    min-width: 800px;
    float: left;
    width: 96%;
}

.logo {
    display: inline-block;
    height: auto;
    width: auto;
    float: left;
}

.kuf {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    font-size: 20pt;
    font-weight: 600;
    letter-spacing: 1px;
}

.user {
    float: right;
    margin-top: 10px;
    color: azure;
    text-decoration: none;
}

.user a {
    color: azure;
    border: 2px solid rgb(249, 251, 248);
    text-decoration: none;
}

:focus { outline: none; }

.plus {
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #f3a62a;
    color: azure;
    /*display: inline-block;*/
    float: right;
    text-decoration: none;
    margin-top: 8px;
    margin-right: 8px;
}

.plus a {
    cursor: pointer;
    color: azure;
    font-size: 50px;
    display: inline-block;
    margin-left: 10px;
    margin-top: -4px;
  
    text-decoration: none;
}

input,
select,
textarea { max-width: 280px; }

.container { 
    overflow: hidden;
    min-width: 830px;
    width: 100%;
    background-color: rgb(240, 240, 240);
}

/*--------------------------------------------------------- Menu ----------------------------------------------------------------*/
.side a {
    text-decoration: none;
}

.side ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
/***********vneshij vid menu*/
.side {
    width: 200px;
    margin: 7px;
    float: left;
}

.main-menu a {
    background: #3cad01;
    color: #ffffff;
    padding: 10px;
    display: block;
    border-bottom: 1px solid #666;
    transition: 0.5s all;
}

    .main-menu a:hover {
        background: rgb(172, 187, 164);
        padding: 10px 0 10px 20px;
    }

.main-menu li:first-child a,
.main-menu li .sub-menu li:first-child a {
    border-radius: 3px 3px 0 0;
}

.main-menu li:last-child a,
.main-menu li .sub-menu li:last-child a {
    border-radius: 0 0 3px 3px;
    border-bottom: 0;
}

.main-menu li .sub-menu li a {
    border-radius: 0;
    border-bottom: 1px solid #666;
}
/***************vspliv menu*/

.categories {
    position: relative;
}

.sub-menu {
    z-index: 2;
    position: absolute;
    width: 100%;
    left: 100%;
    top: -9999em;
    opacity: 0;
    border-left: 10px solid transparent;
    transition: 0.5s opacity;
}

.categories:hover .sub-menu {
    opacity:1;
    top: 0;
}
/*******************icons*/

.categories::after {
    content: " ";
    position: absolute;
    border: 5px solid;
    border-color: transparent transparent transparent #ffffff;
    top: 1em;
    right: 0.7em;
    transition: 0.5s;
}

.categories:hover::after {
    transform: scaleX(-1);
}

.main-menu .menu-light {
    background: rgb(88, 148, 55);
}

/*------------------------------------- content -----------------------------------------------------------------------------------*/

.content {
    width: calc(100% - 215px);
    position: relative;
    /*border: 1px solid black;*/
    float: right;
    min-width: 185px;
}

.content-holder { padding-left: 20px; }

.declarations {
    float: left;
    height: 165px;
    /*border: 1px solid rgb(107, 9, 167);*/
    margin-bottom: 15px;
    margin-right: 30px;
    width: 98%;
    min-width: 350px;
    overflow: hidden;
    /*-webkit-line-clamp: 2;
    -webkit-box-orient: vertical;*/
    /*padding-top: -20px;*/
    background-color: rgb(254, 254, 254);
}

.text {
    text-align: justify;
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    padding: 5px; /* Поля вокруг текста */
    text-overflow: ellipsis; /* Добавляем многоточие */
}

.nameD {
    font-size: 24px;
    color: black;
    margin: 8px;
}

.nameD a{
    text-decoration: none;
    color: #000000;
}

.nameD a:hover {
    color: rgb(3, 234, 53); /* Цвет ссылки при наведении на нее курсора мыши */
}

.desc {
    /*background-color: rgb(242, 242, 242);*/
    /*border: 1px solid black;*/
    width: 67%;
    height: 150px;
    float: left;
    margin: 8px;
    margin-left: 18px;
}

.img {
    /*border: 1px solid black;*/
    width: 160px;
    height: 163px;
    float: left;
    /*margin: 5px;*/
    position: relative;
}

    .img img {
        /*border: 1px solid black;*/
        width: 160px;
        height: auto;
        float: left;
        margin: auto;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        /*margin: 5px;*/
    }

.price {
    float: right;
    font-size: 24px;
    color: green;
}
/*****************************************************************************************************/
#pagination {
    width: 100%;
    height: 31px;
    /*border: 1px solid black;*/
    background-color: #3cad01;
    float: left;
    text-align: -webkit-center;
    
}

    #pagination ul {
        margin: 0; /* Обнуляем значение отступов */
        margin-top: 5px;
        /*padding: 4px;*/ /* Значение полей */
    }

    #pagination a {
        text-decoration: none;
        padding: 1px;
        padding-left: 8px;
        padding-right: 8px;
        color: #000000;
        background-color: #ffffff;
        margin: 2px;
        border: 1px solid rgb(103, 102, 102);
    }

    #pagination li {
        display: inline; /* Отображать как строчный элемент */
        font-size: 14pt;
    }

    #pagination a:hover {
        background-color: #d8d8d8; 
    }

#pagination ul li .darc-cub {
    background-color: #cdbdbd;
}
/********************************************************/

.all-elements {
    width: 950px;
    height: 400px;
    /*border: 4px solid black;*/
    min-width: 520px;
    display: block;
    margin: 0 auto;
}

.foto {
    width: 490px;
    height: 345px;
    border: 1px solid black;
    /*margin-left: auto;*/
    margin: 5px;
    margin-bottom: 40px;
    background-color: rgb(208, 208, 208);
    float: left;
}

.contacts {
    width: auto;
    height: auto;
    /*border: 1px solid black;*/
    margin: 3px;
    margin-top: 15px;
    background-color: rgb(166, 228, 123);
    float: left;
    padding: 12px;
    font-size: 13pt;
}

#description {
    font-size: 13pt;
}

.foto img {
    width: auto;
    height: 340px;
    max-width: 500px;
    display: block;
    margin: 0 auto;
    margin-top: 1px;
}

.all-foto {
    width: auto;
    height: auto;
    border: 1px solid black;
    min-width: 520px;
    background-color: rgb(208, 208, 208);
}

.all-foto img {
    width: 14%;
    height: auto;
    margin: 1%;
}

#left-button {
    margin-top: 160px;
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    background: rgb(27, 224, 65)
}

#right-button {
    margin-top: 160px;
    position: absolute;
    margin-left: 466px;
    border-radius: 50%;
    cursor: pointer;
    background: rgb(27, 224, 65)
}

.img-light { border: 2px solid rgb(0, 255, 31); }

.light {
   background-color: rgb(205, 211, 205);
   padding: 10px;
}