html { overflow-y: scroll; }

body {
    height: 100%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    min-width: 840px;
}

.header {
    padding-left: 2%;
    padding-right: 2%;
    height: auto;
    background: #00ac64;
    color: azure;
    min-width: 800px;
    float: left;
    width: 96%;
    position: relative;
}

.region {
    margin-left: 2px;
    margin-bottom: 10px;
    padding-top: 10px;
    height: 30px;
    background: rgb(255, 255, 255);
    color: black;
    float: left;
    width: 98%;
    text-align: -webkit-center;
}

    .region select {
        background: #d8ffe7;
        color: black;
        border: 1px solid #00ac64;
    }

.logo {
    display: inline-block;
    height: auto;
    width: auto;
    float: left;
}

.kuf {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    font-size: 20pt;
    font-weight: 600;
    letter-spacing: 1px;
}

#login {
    float: right;
    margin-top: 18px;
    color: azure;
    border: 2px solid rgb(249, 251, 248);
    text-decoration: none;
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
}

:focus { outline: none; }

.plus {
    position: absolute;
    right: 12%;
    top: 37px;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #f3a62a;
    color: azure;
    float: right;
    text-decoration: none;
    margin-top: 8px;
    margin-right: 8px;
    z-index: 1;
}

.plus a {
    cursor: pointer;
    color: azure;
    font-size: 50px;
    display: inline-block;
    margin-left: 10px;
    margin-top: -4px;
  
    text-decoration: none;
}

input,
select,
textarea { max-width: 280px; }

.container { 
    overflow: hidden;
    min-width: 830px;
    width: 100%;
    background-color: rgb(240, 240, 240);
}

/*--------------------------------------------------------- Menu ----------------------------------------------------------------*/
.side a {
    text-decoration: none;
}

.side ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
/***********vneshij vid menu*/
.side {
    width: 200px;
    margin: 7px;
    float: left;
}

.main-menu a {
    background: #ffffff;
    color: black;
    padding: 10px;
    display: block;
    border-bottom: 1px solid rgb(240, 240, 240);
    transition: 0.5s all;
    font-size: 11pt;
    font-family: sans-serif;
}

    .main-menu a:hover {
        background: rgb(228, 228, 228);
        padding: 10px 0 10px 20px;
    }

.main-menu li:first-child a,
.main-menu li .sub-menu li:first-child a {
    border-radius: 3px 3px 0 0;
}

.main-menu li:last-child a,
.main-menu li .sub-menu li:last-child a {
    border-radius: 0 0 3px 3px;
    border-bottom: 0;
}

.main-menu li .sub-menu li a {
    border-radius: 0;
    border-bottom: 1px solid rgb(240, 240, 240);
    ;
}
/***************vspliv menu*/

.categories {
    position: relative;
}

.sub-menu {
    z-index: 2;
    position: absolute;
    width: 100%;
    left: 100%;
    top: -9999em;
    opacity: 0;
    border-left: 10px solid transparent;
    transition: 0.5s opacity;
}

.categories:hover .sub-menu {
    opacity:1;
    top: 0;
}
/*******************icons*/

.categories::after {
    content: " ";
    position: absolute;
    border: 5px solid;
    border-color: transparent transparent transparent #00a400;
    top: 1em;
    right: 0.7em;
    transition: 0.5s;
}

.categories:hover::after {
    transform: scaleX(-1);
}

.main-menu .menu-light {
    background: rgb(210, 215, 207);
}

/*------------------------------------- content -----------------------------------------------------------------------------------*/

.content {
    width: calc(100% - 215px);
    position: relative;
    /*border: 1px solid black;*/
    float: right;
    min-width: 185px;
}

.content ul {
    padding: 0;
    padding-left: 3px;
}

.content-holder { padding-left: 20px; }

.content-declaration {
    margin: 10px;
    margin-top: 20px;
}

.declarations {
    float: left;
    height: 125px;
    margin-bottom: 15px;
    width: 98%;
    min-width: 350px;
    overflow: hidden;
    background-color: rgb(254, 254, 254);
    position: relative;
    /*margin-left: 0;*/
}

.text {
    position:absolute; /* добавили */
    bottom:0;
    text-align: justify;
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    padding: 5px; /* Поля вокруг текста */
    text-overflow: ellipsis; /* Добавляем многоточие */
    /*border: 1px solid black;*/
    color: #7b7b7d;
    height: 40px;
    width: calc(99% - 256px);
}

.nameD {
    font-size: 20px;
    color: black;
    margin: 8px;
}

.nameD a{
    text-decoration: none;
    color: #000000;
}

.nameD a:hover {
    color: rgb(3, 234, 53); /* Цвет ссылки при наведении на нее курсора мыши */
}

.desc {
    /*background-color: rgb(242, 242, 242);*/
    /*border: 1px solid black;*/
    width: calc(100% - 256px );
    height: 150px;
    float: left;
    margin: 8px;
    /*margin-left: 18px;*/
}

.img {
    /*border: 1px solid black;*/
    width: 240px;
    height: 123px;
    float: left;
    position: relative;
}

    .img img {
        /*border: 1px solid black;*/
        width: 240px;
        height: auto;
        float: left;
        margin: auto;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
    }

.price {
    float: right;
    font-size: 24px;
    color: #3c6;
    /*border: 1px solid black;*/
}
/*****************************************************************************************************/
#pagination {
    width: 100%;
    height: 31px;
    /*border: 1px solid black;*/
    background-color: #00ac64;
    float: left;
    text-align: -webkit-center;
}

    #pagination ul {
        margin: 0; /* Обнуляем значение отступов */
        margin-top: 5px;
        /*padding: 4px;*/ /* Значение полей */
    }

    #pagination a {
        text-decoration: none;
        padding: 1px;
        padding-left: 8px;
        padding-right: 8px;
        color: #000000;
        background-color: #ffffff;
        margin: 2px;
        border: 1px solid rgb(103, 102, 102);
    }

    #pagination li {
        display: inline; /* Отображать как строчный элемент */
        font-size: 14pt;
    }

    #pagination a:hover {
        background-color: #d8d8d8; 
    }

#pagination ul li .darc-cub {
    background-color: #cdbdbd;
}
/********************************************************/

.all-elements {
    width: 100%;
    height: 370px;
    /*border: 4px solid black;*/
    min-width: 520px;
    display: block;
    margin: 0 auto;
    background: #ffffff;
}

.foto {
    width: 63%;
    height: 305px;
    margin: 5px;
    background-color: #e1e1e2;
    float: left;
    position: relative;
}

.contacts {
    text-align: -webkit-center;
    width: 30%;
    height: 260px;
    /*border: 1px solid black;*/
    margin: 3px;
    margin-top: 15px;
    background-color: rgb(240, 240, 240);
    float: left;
    padding: 12px;
    font-size: 13pt;
}

.price-decl {
    color: #00be6e;
    font-size: 18pt;
}

#description {
    font-size: 13pt;
    background: #ffffff;
}

.foto img {
    width: auto;
    height: 305px;
    max-width: 500px;
    display: block;
    margin: 0 auto;
}

.all-foto {
    margin-left: 5px;
    width: 63%;
    height: 50px;
    overflow: hidden; 
    text-align: -webkit-center;
}

    .all-foto img {
        vertical-align: top;
        display: inline-block;
        width: 14%;
        height: auto;
        margin-left: 1%;
    }

#left-button {
    margin-top: 140px;
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    background: whitesmoke;
    width: 30px;
    height: 30px;
}

#right-button {
    margin-top: 140px;
    position: absolute;
    right: 0;
    border-radius: 50%;
    cursor: pointer;
    background: whitesmoke;
    width: 30px;
    height: 30px;
}

.img-light {
    border: 1px solid rgb(205, 211, 205);
}

.light {
   background-color: rgb(205, 211, 205);
   padding: 10px;
}

/*********************************validation***************************************/

.field-validation-error {
    color: red;
    font-size: 10pt;
}