#all-images {
    float: left;
    width: 457px;
    min-width: 457px;
}

.image {
    position: relative;
    /*border: 1px solid black;*/
    height: 140px;
    width: 140px;
    /*background: #dedede;*/
    cursor: pointer;
    float: left;
    margin: 5px;
    background-image: url(/Images/null.jpg);
}

.image img {
    height: 100%;
    width: 100%;
    margin: auto;
    border: 1px solid black;        
}

.image button {
    position: absolute;
    right: 0px;
    z-index: 99;
    display: none;        
}

.spiner {
    background-image: url(/ContentImages/731.gif);
    background-position: center center; /* Положение фона */
    background-repeat: no-repeat;
}

/********************************************admin****************************************************/

.container-admin {
    border: 1px solid black;
    text-align: -webkit-center;
    margin: 10px;
}

.table {
    border-collapse: collapse; /* Убираем двойные границы между ячейками */
}

.tab {
    text-align: -webkit-center;
    margin-bottom: 10px;
}

.table td {
    border: 1px solid black;
    text-align: -webkit-center;
}

/*****************************************User*****************************************/
.horizontal-menu {
    float: left;
    height: auto;
    margin-bottom: 15px;
    margin-right: 30px;
    width: 98%;
    min-width: 350px;
    overflow: hidden;
    background-color: rgb(254, 254, 254);
}

.horizontal-menu a:hover {
    background-color: rgb(156, 194, 162);
    padding: 5px;
}

.user-menu {
    height: 18px;
    width: 100%;
    background-color: rgb(255, 235, 126);
}

.user-menu a{
    float: right;
    padding-right: 30px;
    color: red;
    text-decoration: none;
}

#menu-desc {
    /*border: 1px solid red;*/
    height: 18px;
    width: 170px;
    float: right;
}

#menu-desc a{
    text-decoration: none;
    color: rgb(14, 185, 14);
}

#menu-desc a:hover {
    text-decoration: none;
    color: rgb(185, 69, 14);
}

.cont {
    /*border: 1px solid red;*/
    height: 800px;
    width: 500px;
    float: left;
    margin: 10px;
}

.horizontal-menu ul {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
}

.horizontal-menu li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    padding: 3px; /* Поля вокруг текста */
}

.horizontal-menu a {
    text-decoration: none;
    color: rgb(5, 157, 52);
    padding: 5px;
}
/********************************************moderator**************************************************/
.moderator-click  {
    color: rgb(5, 157, 52);
    border: 4px solid rgb(15, 178, 23);
    text-decoration: none;
    margin: 10px;
}

/**************************************search*********************************************/

.search {
    height: 34px;
    width: 290px;
    margin-top: 15px;
    float: left;
    z-index: 7;
    position: absolute;
    margin-left: 170px;
    background-color: #00be6e;
}

    .search input {
        height: 30px;
        width: 250px;
        float: left;
        background-color: #00be6e;
        font-size: 17pt;
        border: none;
    }

.search img {
    height: 20px;
    width: 21px;
    padding: 6px;
    float: left;
}

/*.categories {
    position: relative;
}*/

.search-menu {
    z-index: 2;
    position: absolute;
    width: 70%;
    min-width: 840px;
    height: 100%;
    margin-left: -19px;
    /*left: 100%;*/
    top: -9999em;
    opacity: 0;
    background-color: rgb(251, 251, 251);
    border: 1px solid gainsboro;
    /*transition: 0.5s opacity;*/
}

.show-search {
    border: 1px solid blue;
    background-color: rgb(251, 251, 251);
}

    .show-search input {
        background-color: rgb(251, 251, 251);
    }

.header .show-search-menu {
        opacity: 1;
        top: 0;
    }

.content-invis {
    position: absolute;
    top: -9999em;
    opacity: 0;
}

.search-x {
    z-index: 1;
    position: absolute;
    color: darkmagenta;
    font-size: 28px;
    /*font-weight: 900;*/
    margin-left: 500px;
    margin-top: 20px;
}

#category-name {
    margin-left: 200px;
    margin-top: 100px;
}

    #category-name a {
        text-decoration: none;
        color: green;
        font-size: 24px;
        padding: 4px;
        margin-top: 2px;
    }

#category-name a:hover {
    background-color: lightsteelblue;
}
.category-link {
    width: 200px;
}