#menu-desc {
    /*border: 1px solid red;*/
    height: 18px;
    width: 170px;
    float: right;
    color: green;
}

.cont {
    /*border: 1px solid red;*/
    height: 800px;
    width: 500px;
    float: left;
    margin: 10px;
}
