@using Kufar3.Models

@{
    ViewBag.Title = "MyDeclarations";
    Layout = "~/Views/Shared/_layoutPersonal.cshtml";

    var activCount = (int) ViewBag.ActivCount;
    var moderCount = (int) ViewBag.ModerCount;
    var rejCount = (int) ViewBag.RejCount;
}

<h2>Мои объявления</h2>
<div class="horizontal-menu">
    <ul>
        <li><a href="@Url.Action("MyDeclarations", "Personal", new { declarationType = DeclarationTypes.Active })">Активные(@activCount)</a></li>
        <li><a href="@Url.Action("MyDeclarations", "Personal", new { declarationType = DeclarationTypes.OnModeration })">На модерации(@moderCount)</a></li>
        <li><a href="@Url.Action("MyDeclarations", "Personal", new { declarationType = DeclarationTypes.Rejected })">Отклоненные(@rejCount)</a></li>
    </ul>
</div>

@Html.Partial("~/Views/Declaration/DeclarationShow.cshtml")