@model Kufar3.ModelsView.LoginModel

@{
    Layout = null;
}

<div class="login-window">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        <div>
            @Html.ValidationSummary()
            <p>
                <label>Email</label><br />
                @Html.TextBoxFor(x => x.Email, null,  new {id = "EmailLog", type = "Email"})
            </p>
            <p>
                <label>Пароль</label><br />
                @Html.TextBoxFor(x => x.Password, null, new {id = "PassLog", type = "password"})
            </p>
            <p><button type="submit">Войти</button></p>
        </div>
    }
</div>